/**
 * Plugin front end styles
 *
 * @package Wixbu_Course_Manager
 * @version 1.0.0
 */
.tar {
  text-align: right; }

.wixbu-cm-content-wrap {
  padding: 16px 25px;
  border-radius: 7px;
  border: 2px solid #777; }
  .wixbu-cm-content-wrap .course-actions {
    text-align: center; }

.new-course-button-wrap {
  text-align: right; }

#new-course-button {
  width: auto;
  display: inline-block; }

.llms-form-field .social-account .fa {
  width: 40px;
  line-height: 36px;
  height: 40px;
  border: 2px solid;
  border-radius: 50%;
  margin-right: 7px;
  font-size: 20px; }
.llms-form-field .social-account .fa + input {
  width: calc(100% - 52px);
  display: inline-block; }

.wixbu-cm-center-form .llms-cols-7 {
  margin-left: 20.833%; }
.wixbu-cm-center-form .llms-form-field.llms-cols-4 {
  margin-left: 66.6%; }

.profile-photo label {
  border: 2px solid #999;
  border-radius: 7px;
  margin: 16px 0 20px;
  display: block;
  padding: 1em;
  text-align: center; }
  .profile-photo label .fa {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #999;
    width: 2em;
    line-height: 2em;
    font-size: 70px; }

#wixbu-cm-edit-course header {
  padding: 0 35px;
  position: relative;
  text-align: center;
  border-bottom: 2px solid #ddd; }
  #wixbu-cm-edit-course header h2, #wixbu-cm-edit-course header h3 {
    font-weight: 400;
    text-transform: uppercase; }
#wixbu-cm-edit-course section {
  padding: 2em 0; }

#wixbu-cm form {
  margin: 0; }

#wixbu-cm .button, #wixbu-cm .button-like,
#vimeo-llms-upload-popup .button,
#vimeo-llms-upload-popup .button-like {
  border: 2px solid;
  font: inherit;
  background: #ffffff;
  color: inherit;
  border-radius: 7px;
  margin: 0;
  width: 100%;
  display: block;
  padding: 7px 11px;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase; }
#wixbu-cm .button,
#vimeo-llms-upload-popup .button {
  cursor: pointer; }
#wixbu-cm .llms-form-field .button,
#vimeo-llms-upload-popup .llms-form-field .button {
  margin: 16px 0 20px; }

#back-to-edit-couse {
  color: inherit;
  position: absolute;
  left: 0;
  top: 22px;
  transform: translateY(-50%);
  width: 25px; }

div.course-edit-section {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.6em 0;
  line-height: 40px;
  max-width: 320px;
  margin: auto;
  float: none; }
  div.course-edit-section:last-child {
    border-bottom: none; }
  #wixbu-cm-edit-course div.course-edit-section a {
    font: inherit;
    color: inherit;
    line-height: 40px; }
  div.course-edit-section .course-edit-section-status {
    font-size: 40px;
    float: right; }
  div.course-edit-section .vimeo-llms-hd-video-wrap, div.course-edit-section img {
    width: 250px;
    margin: 0 auto 1.6em;
    display: block; }

[for="wixbu-feat-img"] .fa-spin {
  display: none; }
  form.uploading [for="wixbu-feat-img"] .fa-spin {
    display: inline-block; }

#vimeo-llms-upload-popup .postbox {
  background: #fff; }
#vimeo-llms-upload-popup .button-pick-file, #vimeo-llms-upload-popup .button-pick-file:hover {
  color: #555; }

iframe#wixbu-cm-course-structure {
  width: 100%;
  height: 700px; }

/*# sourceMappingURL=front.css.map */
