/**
 * Plugin front end styles
 *
 * @package Wixbu_Course_Manager
 * @version 1.0.0
 */
.tar {
  text-align: right; }

.wixbu-cm-content-wrap {
  padding: 16px 25px;
  border-radius: 7px;
  border: 2px solid #777; }
  .wixbu-cm-content-wrap .course-actions {
    text-align: center; }

.new-course-button-wrap {
  text-align: right; }

#new-course-button {
  width: auto;
  display: inline-block; }

.llms-form-field .social-account .fa {
  width: 40px;
  line-height: 36px;
  height: 40px;
  border: 2px solid;
  border-radius: 50%;
  margin-right: 7px;
  font-size: 20px; }
.llms-form-field .social-account .fa + input {
  width: calc(100% - 52px);
  display: inline-block; }

.wixbu-cm-center-form .llms-cols-7 {
  margin-left: 20.833%; }
.wixbu-cm-center-form .llms-form-field.llms-cols-4 {
  margin-left: 66.6%; }

.profile-photo label {
  border: 2px solid #999;
  border-radius: 7px;
  margin: 16px 0 20px;
  display: block;
  padding: 1em;
  text-align: center; }
  .profile-photo label .fa {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #999;
    width: 2em;
    line-height: 2em;
    font-size: 70px; }

#wixbu-cm-edit-course header {
  padding: 0 35px;
  position: relative;
  text-align: center;
  border-bottom: 2px solid #ddd; }
  #wixbu-cm-edit-course header h2, #wixbu-cm-edit-course header h3 {
    font-weight: 400;
    text-transform: uppercase; }
#wixbu-cm-edit-course section {
  position: relative;
  padding: 2em 0; }

#wixbu-cm form {
  margin: 0; }

#wixbu-cm .button, #wixbu-cm .button-like, #wixbu-cm .button-inline,
#vimeo-llms-upload-popup .button,
#vimeo-llms-upload-popup .button-like,
#vimeo-llms-upload-popup .button-inline {
  border: 2px solid;
  font: inherit;
  background: #ffffff;
  color: inherit;
  border-radius: 7px;
  margin: 0;
  width: 100%;
  display: block;
  padding: 7px 11px;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase; }
#wixbu-cm .button-inline,
#vimeo-llms-upload-popup .button-inline {
  display: inline-block;
  width: auto;
  line-height: 1; }
#wixbu-cm .button,
#vimeo-llms-upload-popup .button {
  cursor: pointer; }
#wixbu-cm .llms-form-field .button,
#vimeo-llms-upload-popup .llms-form-field .button {
  margin: 16px 0 20px; }

#back-to-edit-couse {
  color: inherit;
  position: absolute;
  left: 0;
  top: 22px;
  transform: translateY(-50%);
  width: 25px; }

div.course-edit-section {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.6em 0;
  line-height: 40px;
  max-width: 400px;
  margin: auto;
  float: none; }
  div.course-edit-section:last-child {
    border-bottom: none; }
  #wixbu-cm-edit-course div.course-edit-section a {
    font: inherit;
    color: inherit;
    line-height: 40px; }
  div.course-edit-section .step-number {
    display: inline-block;
    font-size: 41px;
    font-weight: 900;
    vertical-align: -.16em;
    margin-right: 16px;
    width: 20px;
    text-align: center;
    color: #0bd; }
  div.course-edit-section .course-edit-section-pending,
  div.course-edit-section .course-edit-section-done {
    float: right;
    width: 65px;
    text-align: center;
    background: #0bd;
    color: #fff;
    border-radius: 5px; }
  div.course-edit-section .course-edit-section-done {
    height: 30px;
    background: center/contain no-repeat url("checkbox.png"); }
  div.course-edit-section .course-edit-section-pending {
    float: right; }

.edit-course-preview-media .vimeo-llms-hd-video-wrap, .edit-course-preview-media .wixbu-cm-media-preview {
  width: 320px;
  height: 180px;
  margin: 0 auto 1.6em;
  display: block;
  background: center/contain no-repeat url(img.svg); }
  .edit-course-preview-media .vimeo-llms-hd-video-wrap.wixbu-cm-video-preview, .edit-course-preview-media .wixbu-cm-media-preview.wixbu-cm-video-preview {
    background: center/contain no-repeat url(vid.svg); }
.edit-course-preview-media .llms-cols-6 {
  max-width: none;
  float: left;
  padding: 0 1.6em; }
  .edit-course-preview-media .llms-cols-6 .button {
    margin: 0; }

.wixbu-cm-course-publish-error {
  text-align: center;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity .5s; }
  .wixbu-cm-course-publish-error.show-error {
    opacity: 1; }
    .wixbu-cm-course-publish-error.show-error.wobble-error {
      animation: shake 1.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }
[for="wixbu-feat-img"] .fa-spin {
  display: none; }
  form.uploading [for="wixbu-feat-img"] .fa-spin {
    display: inline-block; }

#vimeo-llms-upload-popup .postbox {
  background: #fff; }
#vimeo-llms-upload-popup .button-pick-file, #vimeo-llms-upload-popup .button-pick-file:hover {
  color: #555; }

iframe#wixbu-cm-course-structure {
  width: 100%;
  height: 700px; }

/*# sourceMappingURL=front.css.map */
